body{
  background-color: bisque;
}

.App {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.App h1{
  color: rgb(81, 49, 49);
  font-size: 40px;
  margin: 0;
}
.recipes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;
}
.recipe{
  box-shadow: 0px 0px 10px rgba(108, 107, 107, 0.801);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 10px;
  margin: 5px;
  width: 300px;
  height: 150px;
  text-align: left;
  padding: 10px;
  background-color: white;
  text-transform: capitalize;
}
.container01{
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: rgb(66, 54, 54);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.App .link{
  color: black;
  text-align: right;
}

.recipePage{
  text-align: center;
}

select{
  width: 20%;
  height: 50px;
  margin: 20px;
  background-color: rgb(67, 60, 5);
  border-radius: 20px;
  border: none;
  color: white;
  font-size: 22px;
  padding: 5px;
}
